* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 35, 121);
    color: rgb(255, 95, 0);
    align-items: center;
    height: 60px;
}

.name{
    flex-basis: 20%;
    margin-left: 20px;
}

.searchcont {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.carsearch {
    display: flex;
    align-items: center; 
    width: 100%;
}

.sb {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.searchbutton {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 95, 0);
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.credentials{
    flex-basis: 20%;
    margin-right: 20px;
}
